<section>
  <div><p>Welcome to Code Cuts!</p></div>
  <div class="row">
    <div class="col s5 offset-s1">
      <table><caption class="caption">Most Recent Tutorials</caption>
        <thead>
          <tr>
            <th>Topic</th>
            <th>GitHub Repo</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>topic here</td>
            <td>Githup link here</td>
            <td>Created date here</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col s5">
      <table><caption class="caption">Most Recent User Activity</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Posts</th>
            <th>Last Post</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>User name here</td>
            <td>total posts count here</td>
            <td>last post here</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
